  <%= form_with(model: user, local: true) do |f| %>
  <%#= form_with model: user　url: users_login_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: user %><!-- パーシャルに対する変数に値を渡している。modelが変数、userが値 %-->

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    
    <%= f.label :uid %>
    <%= f.text_field :uid, class: "form-control" %>

    <%= f.label :affiliation%>
    <%= f.select :affiliation, [['伏見道場', '伏見道場'],['田辺道場', '田辺道場'],['宇治教室', '宇治教室'],['ルネサンス山科教室', 'ルネサンス山科教室']],{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>  

    <%= f.label :department%>
    <%= f.select :department, [['一般クラス', '一般クラス'],['少年クラス', '少年クラス']],{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>    
    
    <div><%= f.label :"入門日 (年/月/日)"%></div>
    <div>
    <%= f.date_select :registration_day,
            {start_year: 1990, end_year: Time.now.year, use_month_numbers: true, date_separator: '/'},
            {class: 'form-control bootstrap-date'}
    %>
    </div>
    
    <%= f.label :status%>
    <%= f.select :status,[['3段','3段'],['2段','2段'],['初段','初段'],['1級','1級'],['2級','2級'],['3級','3級'],['4級','4級'],['5級','5級'],['6級','6級'],['7級','7級'],['8級','8級'],['9級','9級'],['10級','10級']],{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    
    <%= f.label :gender%>
    <%= f.select :gender, [['男性', '男性'],['女性', '女性']],{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

    <%= f.label :password%>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation, class: "form-control" %>


    <%= f.submit yield(:button_text), class: "btn btn-primary btn-block indexupdate" %>
  <% end %>
