<% provide(:title, "会報一覧") %>
  <div>
    <h1>会報一覧</h1>
  </div>
<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% @posts.each do |post| %>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="accordion" id="accordion-4">
                      <div class="card">
                          <div class="card-header" id="header-4a">
                            <span style="padding:5px 15px;"><%= "NO.#{post.post_num}" %></span>
                            <div class="pull-right"><%= "作成日： #{post.created_at.strftime('%Y/%m/%d')}" %></div>
                              <div class="row">
                                 <div class="col-md-8">
                                  <div><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#card-<%=post.id%>" aria-expanded="true" aria-controls="card-<%=post.id%>">
                                  <div class="post_title"><span class="post_title"><%= post.post_title %></span></button></div>
                                </div>
                                  <% if current_user.admin? %>
                                  <div class="col-md-4">
                                    <div><%= link_to "削除", post, method: :delete,data: { confirm: "削除してよろしいですか？" } ,class: "btn btn-danger pull-right" %></div>
                                    <div><%= link_to "編集", edit_post_path(post.id), method: :get,class: "btn btn-success pull-right" %></div>
                                  </div>
                                  <% end %>
                              </div>
                            </div>
                          <div id="card-<%=post.id%>" class="collapse" aria-labelledby="header-4a" data-parent="#accordion-4">
                            <div class="card-bexitody bg-white">
                                  <%= simple_format(post.post_note) %>
                              <div class="image-post">
                                  <% (Thumbnail.where(post_id: post.id).ids).each do |thum_id|%>
                                    <%= image_tag post.thumbnails.find(thum_id).image.url(:thumb),alt: "#{File.basename(post.thumbnails.find(thum_id).image.path, '.*')}",class: "image-post" if post.thumbnails.find(thum_id).image.url.present? %><!--altは日本語名の時-->
                                  <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>  
          <% end %><!--eachのend-->
        </div><!--serch_nameのend-->
  </div><!--rowのend-->
</div><!--containerのend-->